 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>안녕하세요 저는 신선처럼 신선한 코딩을 꿈꾸는 취업 준비 개발자 입니다.</p>
                </div>
                <div class="col-lg-4">
                    <p>신선코딩은 저의 포트폴리오와 스터디, 개발 일지용 블로그 입니다.</p>
                </div>
               <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
